body {
  margin: 0;
  background: #FFF;
  font-weight: 400;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333234;
    color: #FFFFFF;
  }
}

body.window-unfocused button,
body.window-unfocused select,
body.window-unfocused input,
body.window-unfocused textarea,
body.window-unfocused .inputComponentPiece {
  opacity: 0.5;
}

button, select, input, textarea {
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
  margin: 0;
  padding: 5px;
  border-radius: 5px;
}

button:disabled, select:disabled, input:disabled, textarea:disabled {
  opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
  button, select, input, textarea {
    background-color: rgba(255, 255, 255, 0.05);
    color: #FFFFFF;
  }
}

.inputComponentPiece {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  .inputComponentPiece {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

input, textarea {
  border: none;
  padding: 5px;
  outline: none;
  font-family: sans-serif;
}

textarea {
  margin-bottom: -3px;
}

input[type=date] {
  height: 15px;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

